{% extends 'baseAdmin.html.twig' %}

{% block title %}Créer un Produit{% endblock %}

{% block body %}
    <div class="content-wrapper">
    <h1>Créer un Produit</h1>

    {{ include('produit/_form.html.twig') }}

    <button class="btn btn-primary"><a href="{{ path('produit_index') }}">Retour à la Liste</a></button>
    </div>
{% endblock %}
