{% extends 'baseAdmin.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}

<div class="content-wrapper">

    <div id="calendrier">


    </div>

    <div class="text-center mt-3">
    <button class="btn btn-success"><a href="{{ path('calendar_new') }}">Prendre un Rendez-Vous</a></button>
    </div>

</div>
{% endblock %}

